@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-makcha-navy-950: #000c24;
  --color-makcha-navy-900: #00163D;
  --color-makcha-navy-800: #183C7B;
  --color-makcha-navy-600: #4674C6;
  --color-makcha-navy-400: #86AFF7;
  --color-makcha-navy-200: #D0E1FF;

  --color-makcha-yellow-500: #FFC300;
  --color-makcha-yellow-400: #FFCE2F;
  --color-makcha-yellow-300: #FFDC69;
  --color-makcha-yellow-200: #FFE99F;
}

@layer base {
  *, ::before, ::after {
    @apply transition-colors duration-300;
  }

  html, body {
    background-color: white;
    color: black;
    height: 100%;
    margin: 0;

    overscroll-behavior-y: none;
    overflow-x: hidden;
  }

  html.dark, .dark body {
    background-color: var(--color-makcha-navy-900);
    color: white;
  }
}

/* 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }